@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;

}
.main{
    background-image: url("assets/img/first.jpg");
    height: 100vh;
    background-size: max(1000px, 100vw);
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    
    
}

.main .box{
    height: 100vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    
    position: absolute;
    top: 0;
}

nav{
    display: flex;
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    position: relative;
    z-index: 10;
}

nav img{
    color: red;
    width: 145px;
    position: relative;
    z-index: 10;
}

.hero{
    font-family: 'Martel Sans',sans-serif;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 15px;
    padding: 20px;
    text-align: center;

}

.hero >:nth-child(1){
    font-family: 'Poppins';
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}
.hero >:nth-child(2){
    font-weight: 200;
    font-size: 24px;
    text-align: center;
}
.hero >:nth-child(3){
    font-weight: 200;
    font-size: 24px;
    text-align: center;
}

.seperation{
    height: 8px;
    background-color: gray;
    position: relative;
}

.btn{
    padding: 3px 8px;
    font: weight 1px;;
    font-family: 'Poppins';
    background-color: rgb(23, 23, 23,0.3);
    color: white;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red-sm{
    background-color: red;
    color: white;
    border-radius: 4px;
    font-weight: 100;

}

.main input{
    padding: 3px 24px;
    font-size: 15px;
    color: white;
    border-radius: 4px;
    background-color: rgb(23, 23, 23,0.3);
    padding: 8px 20px;
}

.btn-red{
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 6px;
}

.first{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    color: white;
    height: 75vh;
}

.secImg1{
    position: relative;
}
.secImg1 img{
    width: 30vw;
    position: relative;
    z-index: 10;
}

.secImg1 video{
    position: absolute;
    width: 26vw;
    top: 50px;
    right: 0;
}

.first > div :nth-child(1){
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Poppins';
}

.one{
    display: flex;
    flex-direction: column;
}



.second {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    color: white;
    height: 75vh;
}

.secImg2{
    position: relative;
}
.secImg2 img{
    width: 30vw;
    position: relative;
    z-index: 10;
}

.second > div :nth-child(1){
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Poppins';
    text-align: center;
}

.two{
    display: flex;
    flex-direction: column;
}

.seperation{
    height: 8px;
    background-color: gray;
    position: relative;
}


.third{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    color: white;
    height: 75vh;
}

.secImg3{
    position: relative;
}
.secImg3 img{
    width: 30vw;
    position: relative;
    z-index: 10;
}

.secImg3 video{
    position: absolute;
    width: 20vw;
    top: 40px;
    right: 66px;
}

.third > div :nth-child(1){
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Poppins';
}

.three{
    display: flex;
    flex-direction: column;
}

.fourth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    color: white;
    height: 75vh;
}

.secImg4{
    position: relative;
}
.secImg4 img{
    width: 30vw;
    position: relative;
    z-index: 10;
}

.fourth > div :nth-child(1){
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Poppins';
    text-align: center;
}

.four{
    display: flex;
    flex-direction: column;
}

.seperation{
    height: 8px;
    background-color: gray;
    position: relative;
}

.faq{
    color: white;
    font-family: 'Poppins';
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.faqbox:hover{
    background-color: grey;
}
.faqbox{
    transition: all 1s ease-out;
    display: flex;
    background-color: rgb(67, 66, 66);
    font-size: 20px;
    color: white;
    padding: 24px;
    max-width: 60vw;
    margin: 10px auto;
    gap: 5px;
    
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    color: grey;
    max-width: 60vw;
    margin: auto;

}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.last{
    color: grey;
    margin: 50px;
}
